
    :root{
        --font: 'Poppins', sans-serif;
    }

body{
    margin:0;
    padding:0;
    background: rgb(251, 255, 255);
}

#header-containter{
    background:darkseagreen;
    background-size:cover;
}

#header-title{
    padding-top:4rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

#title{
    font-family: var(--font);
    margin:0px;
    line-height: 35px;
    font-weight:800;
}

#header-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

#description{
    font-family: var(--font);
    margin:5px;
    font-weight:400;
}

#share{
    display: flex;
    justify-content: flex-end;
}

#social-links{
    display: flex;
    margin-left: 5px;
    align-self: center;
    width:5%;
    margin-right: 1.5rem;
}

#social-links img{
    width: 100%;
}

#facebook,
#twitter,
#whatsapp {
    margin:3px;
}

#share p{
    font-family: var(--font);
    font-weight: 500;
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 2rem;
}

#survey-form {
    padding: 2.5rem 2rem 2rem 2rem;
    width:auto;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}
#name-label,
#email-label,
#number-label {
    font-family: var(--font);
    font-weight:500;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

#name,
#email,
#number {
    width:95%;
    height: 2rem;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    font-family: var(--font);
    font-weight: 600;
}

#questions p{
    font-family: var(--font);
    font-weight: 500;
}

#dropdown {
    width: 96%;
    height:2.4rem;
    font-family: var(--font);
    font-weight: 500;
    padding-left: 10px;
    outline: none;
}

#experience-div{
    display:block;
    font-family: var(--font);
    font-weight: 400;
    padding-left: 10px;
}

[type=radio]{
    transform: scale(1.2);
}

#fl-list{
    display: block;
    font-family: var(--font);
    font-weight: 400;
    padding-left: 10px;
}

[type=checkbox]{
    transform: scale(1.1);
}

#comments {
    width: 95%;
    height: 6rem;
    font-family: var(--font);
    font-weight: 600;
    outline:none;
    font-size: 14px;
    padding-top:10px;
    padding-left: 10px;
}

#submit-button{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

#submit{
    width: 25%;
    height:2rem;
    font-family: var(--font);
    font-weight: 500;
}
footer{
    background:darkseagreen;
    height:3rem;
    display: flex;
    justify-content: center;
}
#copyright{
    align-self:center;
}
#copyright p{
    margin:0;
    font-family: var(--font);
}
